.wp-block-mrs-block-mrs-tabs-block {
	border: 1px dotted #f00;

	.tab {
		display: block;
		box-sizing: border-box;

		&.tab-horizontal {
			display: flex;
            flex-direction: column;

			.mrs-tab-list {
				margin: 0;
				padding: 0;
				display: inline-flex;
				flex-wrap: wrap;
				font-size: 18px;			
				background: #3a3a3a;

				li {
					list-style: none;
					padding-top: 10px;
					padding-bottom: 10px;
					padding: 10px 30px;
					a {
						text-decoration: none;
					}

					&:hover {
						background-color: var(--hover-bg-color);
						color: var(--hover-text-color);
						border-bottom: none;
						border-top-left-radius: 20px;
						border-top-right-radius: 20px;
						a {
							text-decoration: none;
						}
					}
					&.active {
						border-bottom: none;
						border-top-left-radius: 20px;
						border-top-right-radius: 20px;
						a {
							text-decoration: none;
						}
					}
				}
			}
		}

		&.tab-vertical {
            display: flex;
            flex-direction: row;

			.mrs-tab-list {
				margin: 0;
				padding: 0;
				display: block;
				font-size: 18px;
				li {
					list-style: none;
					display: block;
					padding-top: 10px;
					padding-bottom: 10px;
					padding: 10px 30px;
					text-decoration: none;
					width: 160px;

					&:hover {
						background-color: var(--hover-bg-color);
						color: var(--hover-text-color);
						border-right: 0;
						border-top-left-radius: 20px;
						border-bottom-left-radius: 20px;						
					}
					&.active {
						border-right: 0;
						border-top-left-radius: 20px;
						border-bottom-left-radius: 20px;						
					}
				}
			}
        }

		.tab-content {
			display: none;
		}
		.active {
			display: block;
		}
	}
}

.tab-direction-button {
	justify-content: space-evenly;
	width: 50%;
}
.mrs-editor-text-alignment-button {
	justify-content: center;
	width: 33%;
}
.button-tags {
	width: 16.5%;
}
.mrs-button-tab-alignment {
    display: flex;
    flex-direction: row;
    width: 33%;
}