.wp-block-mrs-block-mrs-tabs-block {
	margin: 0;
	padding: 0;
	border: 1px solid #7a7a7a;

	.tab {
		display: block;
		box-sizing: border-box;
		&.tab-horizontal {
			display: flex;
            flex-direction: column;

			.mrs-tab-list {
				margin: 0;
				padding: 0;
				display: inline-flex;
				flex-wrap: wrap;
				font-size: 18px;			
				background: #3a3a3a;

				li {
					list-style: none;
					padding-top: 10px;
					padding-bottom: 10px;
					padding: 10px 30px;	
					a {
						text-decoration: none;
						outline: none;
						color: #ffffff;
					}
					&:hover {
						background-color: var(--hover-bg-color);
						color: var(--hover-text-color);
						border-bottom: none;
						border-top-left-radius: 20px;
						border-top-right-radius: 20px;
						border-bottom-left-radius: -20px;
						border-bottom-right-radius: -20px;
						a {
							text-decoration: none;							
							color: var(--hover-text-color);
						}
					}
					&.active {
						color: #007cba;
						background: #ffffff;
						border-bottom: none;
						border-top-left-radius: 20px;
						border-top-right-radius: 20px;
						border-bottom-left-radius: -20px;
						border-bottom-right-radius: -20px;
						a {
							text-decoration: none;							
							color: var(--hover-text-color);						
						}
					}
				}
			}
		}
		&.tab-vertical {
            display: flex;
            flex-direction: row;

			.mrs-tab-list {
				padding: 0;
				display: block;
				font-size: 18px;
				margin: 0;
				li {
					list-style: none;
					display: block;
					padding-top: 10px;
					padding-bottom: 10px;
					padding: 10px 30px;
					width: 100px;
					
					a {
						text-decoration: none;						
						outline: none;
						color: #ffffff;
					}

					&:hover {
						background-color: var(--hover-bg-color);
						border-right: 0;
						border-top-left-radius: 20px;
						border-bottom-left-radius: 20px;
						a {							
							color: var(--hover-text-color);
						}					
					}
					&.active {
						color: #007cba;
						background: #ffffff;
						border-right: 0;
						border-top-left-radius: 20px;
						border-bottom-left-radius: 20px;
						
						a{
							color: var(--hover-text-color);
						}
					}
				}
			}
			.tab-container:has(.active) {
				width: 100%;
			}
        }

		.tab-container {
			.tab-content {
				display: none;
			}
			.active {
				display: block;
				padding: 10px;
				h4 {
					margin: 5px 0;
				}
			}
		}
	}
}
